[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
peewee = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiohttp = "*"
pymysql = "*"
fn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
